{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "extends": [
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}